<?xml version='1.0'?>

<!--
Copyright (c) 2022
KELO Robotics GmbH

Author:
Sushant Chavan
Walter Nowak


This software is published under a dual-license: GNU Lesser General Public
License LGPL 2.1 and BSD license. The dual-license implies that users of this
code may choose which terms they prefer.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

* Redistributions of source code must retain the above copyright
notice, this list of conditions and the following disclaimer.
* Redistributions in binary form must reproduce the above copyright
notice, this list of conditions and the following disclaimer in the
documentation and/or other materials provided with the distribution.
* Neither the name of Locomotec nor the names of its
contributors may be used to endorse or promote products derived from
this software without specific prior written permission.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License LGPL as
published by the Free Software Foundation, either version 2.1 of the
License, or (at your option) any later version or the BSD license.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Lesser General Public License LGPL and the BSD license for more details.

You should have received a copy of the GNU Lesser General Public
License LGPL and BSD license along with this program.
-->

<robot xmlns:xacro="http://ros.org/wiki/xacro" name="gazebo_ros_planar_move">
    <gazebo>
        <plugin name="gazebo_ros_planar_move" filename="libgazebo_ros_planar_move.so">

            <ros>
              <!-- Added in launch file for multi robile usecase -->
              <!--<namespace>/demo</namespace> -->

              <!-- Remap the default topic -->
              <!-- <remapping>cmd_vel:=custom_cmd_vel</remapping> -->
              <!-- <remapping>odom:=custom_odom</remapping> -->

            </ros>

            <!-- Set control loop update rate -->
            <update_rate>100</update_rate>
            <!-- Set odom publish rate -->
            <publish_rate>20</publish_rate>

            <!-- Set if odom required -->
            <publish_odom>true</publish_odom>
            <publish_odom_tf>true</publish_odom_tf>

            <!-- Frame IDs -->
            <!-- For multi robot these values get modified in generic_spawn.py -->
	    <odometry_frame>odom</odometry_frame>
	    <robot_base_frame>base_link</robot_base_frame>

            <!-- Set odom covariance -->
            <covariance_x>0.0001</covariance_x>
            <covariance_y>0.0001</covariance_y>
            <covariance_yaw>0.01</covariance_yaw>

        </plugin>

	<plugin name="gazebo_p3d_pose" filename="libgazebo_ros_p3d.so">
            <ros>
              <!-- Add namespace and remap the default topic -->
              <namespace>/gazebo</namespace>
              <remapping>odom:=ground_truth_pose</remapping>
            </ros>

            <!-- Replace camelCase elements with camel_case ones -->
            <body_name>base_link</body_name>
            <frame_name>world</frame_name>
            <update_rate>50.0</update_rate>
            <xyz_offset>0 0 0</xyz_offset>
            <rpy_offset>0 0 0</rpy_offset>
            <gaussian_noise>0.01</gaussian_noise>	
        </plugin>

    </gazebo>
</robot>
